.App {
    display: flex;
    gap: 1rem;
    padding: 10rem 15rem;
}
.app-cards {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
    .App {
        flex-direction: column;
        padding: 5rem 2rem;
    }
    .app-cards {
        flex-direction: column;
    }
}
@media screen and (max-width: 425px) {
    .App {
        padding: 5rem 1rem;
    }
}